<section class="catalog-section section" id="catalog-section">
  <div class="container">
    <h2 class="section-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/desk/desk-garmin-fenix-7x-pro-sapphire-solar-1x.png 1x,
              /img/catalog/desk/desk-garmin-fenix-7x-pro-sapphire-solar-2x.png 2x
            "
            width="292"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tab/tab-garmin-fenix-7x-pro-sapphire-solar-1x.png 1x,
              /img/catalog/tab/tab-garmin-fenix-7x-pro-sapphire-solar-2x.png 2x
            "
            width="268"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/mob/mb-garmin-fenix-7x-pro-sapphire-solar-1x.png 1x,
              /img/catalog/mob/mb-garmin-fenix-7x-pro-sapphire-solar-2x.png 2x
            "
            width="208"
          />
          <img
            class="catalog-img"
            src="/img/catalog/desk/desk-garmin-fenix-7x-pro-sapphire-solar-1x.png"
            alt="garmin-fenix-7x-pro-sapphire-solar"
            width="292"
            height="292"
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-price">€500</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/desk/desk-garmin-marq-athlete-1x.png 1x,
              /img/catalog/desk/desk-garmin-marq-athlete-2x.png 2x
            "
            width="292"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tab/tab-garmin-marq-athlete-1x.png 1x,
              /img/catalog/tab/tab-garmin-marq-athlete-2x.png 2x
            "
            width="268"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/mob/mb-garmin-marq-athlete-1x.png 1x,
              /img/catalog/mob/mb-garmin-marq-athlete-2x.png 2x
            "
            width="208"
          />
          <img
            class="catalog-img"
            src="/img/catalog/desk/desk-garmin-marq-athlete-1x.png "
            alt="garmin-marq-athlete"
            width="292"
            height="292"
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
        <p class="catalog-price">€450</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/desk/desk-garmin-descent-mk1-1x.png 1x,
              /img/catalog/desk/desk-garmin-descent-mk1-2x.png 2x
            "
            width="292"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tab/tab-garmin-descent-mk1-1x.png 1x,
              /img/catalog/tab/tab-garmin-descent-mk1-2x.png 2x
            "
            width="268"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/mob/mb-garmin-descent-mk1-1x.png 1x,
              /img/catalog/mob/mb-garmin-descent-mk1-2x.png 2x
            "
            width="208"
          />
          <img
            class="catalog-img"
            src="/img/catalog/desk/desk-garmin-descent-mk1-1x.png "
            alt="garmin-descent-mk1"
            width="292"
            height="292"
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
        <p class="catalog-price">€680</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/desk/desk-garmin-d2-delta-1x.png 1x,
              /img/catalog/desk/desk-garmin-d2-delta-1x.png 2x
            "
            width="292"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tab/tab-garmin-d2-delta-1x.png 1x,
              /img/catalog/tab/tab-garmin-d2-delta-2x.png 2x
            "
            width="268"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/catalog/mob/mb-garmin-d2-delta-px-1x.png 1x,
              /img/catalog/mob/mb-garmin-d2-delta-px-2x.png 2x
            "
            width="208"
          />
          <img
            class="catalog-img"
            src="/img/catalog/desk/desk-garmin-d2-delta-1x.png "
            alt="desk-garmin-d2-delta"
            width="292"
            height="292"
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
        <p class="catalog-price">€380</p>
      </li>
      <li class="catalog-item none-mb">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/desk/desk-garmin-fenix6-pro-solar-1x.png 1x,
              /img/catalog/desk/desk-garmin-fenix6-pro-solar-2x.png 2x
            "
            width="292"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tab/tab-garmin-fenix-6-pro-solar-1x.png 1x,
              /img/catalog/tab/tab-garmin-fenix-6-pro-solar-2x.png 2x
            "
            width="268"
          />
          <!-- <source media="(max-width: 767px)" srcset="1x, 2x" width="208" /> -->
          <img
            class="catalog-img"
            src="/img/catalog/desk/desk-garmin-fenix6-pro-solar-1x.png "
            alt="garmin-fenix6-pro-solar"
            width="292"
            height="292"
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-price">€400</p>
      </li>
      <li class="catalog-item none-mb">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/desk/desk-tube-watch-s42-date-steel-with-black-case-1x.png 1x,
              /img/catalog/desk/desk-tube-watch-s42-date-steel-with-black-case-2x.png 2x
            "
            width="292"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/catalog/tab/tab-tube-watch-s42-date-steel-with-black-case-1x.png 1x,
              /img/catalog/tab/tab-tube-watch-s42-date-steel-with-black-case-2x.png 2x
            "
            width="268"
          />
          <!-- <source media="(max-width: 767px)" srcset="1x, 2x" width="208" /> -->
          <img
            class="catalog-img"
            src="/img/catalog/desk/desk-tube-watch-s42-date-steel-with-black-case-1x.png "
            alt="tube-watch-s42-date-steel-with-black-case"
            width="292"
            height="292"
          />
        </picture>
        <h3 class="catalog-subtitle">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-price">€395</p>
      </li>
    </ul>
    <button type="button" class="catalog-button">Show more</button>
  </div>
</section>
