<section class="catalog-section" id="catalog-section">
  <div class="container">
    <p catalog-title>Catalog</p>
    <ul class="catalog-item">
      <li class="catalog-item-list"></li>
      <li class="catalog-item-list"></li>
      <li class="catalog-item-list"></li>
      <li class="catalog-item-list"></li>
      <li class="catalog-item-list"></li>
      <li class="catalog-item-list"></li>
    </ul>
    <button type="button" class="catalog-button">Show more</button>
    <div class="catalog-contact-us">
      <p>
        Choose your story, making every moment unique. Time is your style, and
        we reveal it.
      </p>
      <button type="button">Contact Us</button>
    </div>
  </div>
</section>
