<section class="contact-section" id="contact-section">Contact us</section>

  <div class="container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="wrapper">
      <div class="box-container">
        <div class="form-container">
          <p class="contact-us-txt">
            Please use the form below to contact us. Enter your name, email,
            phone, and message and we'll get back to you shortly.
          </p>

          <form class="my-form">
            <input
              class="cont-input"
              type="namt"
              id="user-name"
              name="user-name"
              placeholder="Name"
              required
            />
            <input
              class="cont-input"
              type="email"
              id="user-email"
              name="user-email"
              placeholder="Email"
              required
            />
            <input
              class="cont-input"
              type="tel"
              id="user-phone"
              name="user-phone"
              placeholder="+380"
              required
            />
            <textarea
              class="cont-textarea"
              id="user-comment"
              name="user-comment"
              placeholder="Coment"
            ></textarea>
          </form>

          <button class="contact-submit" type="submit">Send</button>
        </div>
         </div>
        
             <picture>
                  <source
                    srcset="
                      img/contact-us/desk//contact-desk-rectangle-11-@1x.jpg   1x,
                      img/contact-us/desk//contact-desk-rectangle-11-@1x.jpg   2x
                    "
                    media="(min-width:
                  1280px)"
                  />
                  <source
                    srcset="
                      img/contact-us/tab/contact-tabl-rectangle-11-@1x.jpg   1x,
                      img/contact-us/tab/contact-tabl-rectangle-11-@1x.jpg   2x
                    "
                    media="(min-width:
                  768px)"
                  />
                  <source
                    srcset="
                      img/contact-us/mob/contact-mob-rectangle-15-@1x.jpg 1x,
                      img/contact-us/mob/contact-mob-rectangle-15-@2x.jpg 2x
                    "
                    media="(max-width:
                  767px)"
                  />
                  <img
                  class="picture"
                    src="img/contact-us/mob/contact-mob-rectangle-15-@1x.jpg"
                    alt="Watch"
                    width="335"
                    height="512"
                  />
                </picture>

      </div>
    </div>
  </div>
</section>
