<header class="header">
  <div class="container">
    <a href="/src/index.html" class="logo-header">watchcharm</a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="http://" class="nav-item-link" id="">Home</a>
        </li>
        <li class="nav-item">
          <a href="http://" class="nav-item-link" id="">About Us</a>
        </li>
        <li class="nav-item">
          <a href="http://" class="nav-item-link" id="">Catalog</a>
        </li>
        <li class="nav-item">
          <a href="http://" class="nav-item-link" id="">Sale</a>
        </li>
        <li class="nav-item">
          <a href="http://" class="nav-item-link" id="">Reviews</a>
        </li>
        <li class="nav-item">
          <a href="http://" class="nav-item-link" id="">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="social-header">
      <ul class="social-header-list">
        <li class="social-header-item">
          <a href="https://www.facebook.com/goITclub/" target="_blank"
            ><svg class="header-social-icon" width="20" height="20">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-header-item">
          <a href="https://www.instagram.com/goitclub/" target="_blank"
            ><svg class="header-social-icon" width="20" height="20">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-header-item">
          <a href="https://www.youtube.com/c/GoIT" target="_blank"
            ><svg class="header-social-icon" width="20" height="20">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="burger-btn" type="button" data-menu-open>
      <svg class="icon-burger-btn" width="24" height="24">
        <use href="./img/sprite.svg#logo"></use>
      </svg>
    </button>
  </div>
</header>
