<header class="header">
  <div class="container">
    <div class="header-container">
      <a href="./index.html" class="logo-header">watchcharm</a>
      <nav class="header-nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="./index.html" class="nav-item-link current">Home</a>
          </li>
          <li class="nav-item">
            <a href="#about-section" class="nav-item-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="#catalog-section" class="nav-item-link">Catalog</a>
          </li>
          <li class="nav-item">
            <a href="#sale-section" class="nav-item-link">Sale</a>
          </li>
          <li class="nav-item">
            <a href="#reviews-section" class="nav-item-link">Reviews</a>
          </li>
          <li class="nav-item">
            <a href="#contact-section" class="nav-item-link">Contact Us</a>
          </li>
        </ul>
      </nav>
      <ul class="social-header-list">
        <li class="social-header-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-header-link"
            target="_blank"
            ><svg class="header-social-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-header-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-header-link"
            target="_blank"
            ><svg class="header-social-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-header-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-header-link"
            target="_blank"
            ><svg class="header-social-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="burger-btn" type="button" data-menu-open>
        <svg class="icon-burger-btn" width="34" height="34">
          <use href="./img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu-container">
      <!-- btn-close -->
      <button class="menu-close-btn" type="button" data-menu-close>
        <svg class="close-icon" width="34" height="34">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="nav-menu">
        <ul class="nav-list nav-menu-list">
          <li class="nav-item">
            <a href="./index.html" class="nav-item-link current">Home</a>
          </li>
          <li class="nav-item">
            <a href="#about-section" class="nav-item-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="#catalog-section" class="nav-item-link">Catalog</a>
          </li>
          <li class="nav-item">
            <a href="#sale-section" class="nav-item-link">Sale</a>
          </li>
          <li class="nav-item">
            <a href="#reviews-section" class="nav-item-link">Reviews</a>
          </li>
          <li class="nav-item">
            <a href="#contact-section" class="nav-item-link">Contact Us</a>
          </li>
        </ul>
      </nav>
      <ul class="menu-social-list social-header-list">
        <li class="social-header-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-header-link"
            target="_blank"
            ><svg class="header-social-icon" width="18" height="18">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-header-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-header-link"
            target="_blank"
            ><svg class="header-social-icon" width="18" height="18">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-header-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-header-link"
            target="_blank"
            ><svg class="header-social-icon" width="18" height="18">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
