<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-content">
      <div class="hero-description">
        <h1 class="hero-title">
          Welcome to our <span class="title-part">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-block">
        <picture>
          <source media="(min-width: 1280px)" srcset="
              /img/hero/desk/hero-desk-image-@1x.png 1x,
              /img/hero/desk/hero-desk-image-@2x.png 2x
            " width="146" />
          <source media="(min-width: 768px)" srcset="
              /img/hero/tab/hero-tab-image-@1x.png 1x,
              /img/hero/tab/hero-tab-image-@2x.png 2x
            " width="136" />
          <source media="(max-width: 767px)" srcset="
              /img/hero/mob/hero-mob-image-@1x.png 1x,
              /img/hero/mob/hero-mob-image-@2x.png 2x
            " width="108" />
          <img class="hero-photo" src="/img/hero/desk/hero-desk-image-@1x.png" width="146" height="60"
            alt="photo-of-clients" />
        </picture>

        <a class="down-link current" href="#footer">Scroll down</a>
      </div>
    </div>
    <picture>
      <source media="(min-width: 1280px)" srcset="
          /img/hero/desk/hero-desk-rectangle-10-@1x.png 1x,
          /img/hero/desk/hero-desk-rectangle-10-@2x.png 2x
        " width="1150" />
      <source media="(min-width: 768px)" srcset="
          /img/hero/tab/hero-tab-rectangle-10-@1x.png 1x,
          /img/hero/tab/hero-tab-rectangle-10-@2x.png 2x
        " width="704" />
      <source media="(max-width: 767px)" srcset="
          /img/hero/mob/hero-mob-rectangle-10-@1x.png 1x,
          /img/hero/mob/hero-mob-rectangle-10-@2x.png 2x
        " width="335" />
      <img class="hero-image" src="/img/hero/desk/hero-desk-rectangle-10-@1x.png" width="1150" height="500"
        alt="hero-image" />
    </picture>
  </div>
</section>