<section class="hero-section">
    <div class="container hero-container">
        <div class="hero-content">
            <div class="hero-description">
                <h1 class="hero-title">Welcome to our <span class="title-part">collection</span> of premium watches</h1>
                <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and
                    lifestyle. From classic
                    designs to
                    modern ones, we have a watch to suit every taste and occasion.</p>
            </div>
            <div class="hero-block">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="../img/hero/desk/hero-desk-image-@1x.png 1x, ../img/hero/desk/hero-desk-image-@2x.png 2x" />
                    <source media="(min-width: 768px)"
                        srcset="../img/hero/tab/hero-tab-image-@1x.png 1x, ../img/hero/tab/hero-tab-image-@2x.png 2x" />
                    <source media="(max-width: 767px)"
                        srcset="../img/hero/mob/hero-mob-image-@1x.png 1x, ../img/hero/mob/hero-mob-image-@2x.png 2x" />
                    <img class="hero-photo" src="../img/hero/desk/hero-desk-image-@1x.png" alt="photo-of-clients">
                </picture>

                <a class="down-link current" href="#footer">Scroll down</a>
            </div>
        </div>
        <picture>
            <source media="(min-width: 1280px)"
                srcset="../img/hero/desk/hero-desk-rectangle-10-@1x.jpg 1x, img/hero/desk/hero-desk-rectangle-10-@2x.jpg 2x" />
            <source media="(min-width: 768px)"
                srcset="../img/hero/tab/hero-tab-rectangle-10-@1x.jpg 1x, img/hero/tab/hero-tab-rectangle-10-@2x.jpg 2x" />
            <source media="(max-width: 767px)"
                srcset="../img/hero/mob/hero-mob-rectangle-10-@1x.jpg 1x, ../img/hero/mob/hero-mob-rectangle-10-@2x.jpg 2x" />
            <img class="hero-image" src="../img/hero/desk/hero-desk-rectangle-10-@1x.jpg" alt="hero-image">
        </picture>

    </div>
</section>