<section class="reviews-section section" id="reviews-section">
  <div class="container">
    <h2 class="section-title ">Reviews</h2>
   
    <ul class="reviews-list">
      <li class="reviews-item">
        <picture>
          <source
            srcset="
              /img/review/john-wax@1x.png 1x,
              /img/review/john-wax@2x.png 2x
            "
            width="56"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/review/john-wax@1x.png 1x,
              /img/review/john-wax@2x.png 2x
            "
            width="57"
            media="(max-width: 767px)"
          />
          <img
            class="reviews-img"
            src="/img/review/john-wax@1x.png"
            width="56"
            height="56"
            alt="John_Wax"
          />
        </picture>
        <div class="reviews-con">
          <h3 class="reviews-name">John Wax</h3>
          <p class="reviews-text">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </div>
      </li>
      <li class="reviews-item reviews-item-tab">
        <img
          class="reviews-img"
          srcset="
            /img/review/victoria-romashenko@1x.png 1x,
           /img/review/victoria-romashenko@2x.png 2x
          "
          src="/img/review/victoria-romashenko@1x.png"
          alt="Victoria_Romashenko"
          width="56"
          height="56"
        />
        <div class="reviews-con">
          <h3 class="reviews-name">Victoria Romashenko</h3>
          <p class="reviews-text">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </div>
      </li>
      <li class="reviews-item reviews-item-desk">
        <img
          class="reviews-img"
          srcset="
            /img/review/anastasia-trachuk@1x.png 1x,
            /img/review/anastasia-trachuk@1x.png 2x
          "
          src="/img/review/anastasia-trachuk@1x.png"
          alt="Anastasia_Trachuk"
          width="56"
          height="56"
        />
        <div class="reviews-con">
          <h3 class="reviews-name">Victoria Romashenko</h3>
          <p class="reviews-text">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </div>
      </li>
    </ul>
   
  </div>
</section>
