<section class="sale-section container" id="sale-section">
  <h1 class="section-title">Sale</h1>
  <div class="sale-section__wrapper">
    <div class="sale-section__watch-card">
      <div class="watch-card__small">
        <div class="small-photos__bg">
          <picture>
            <source media="(min-width: 1280px)" srcset="" width="" />
            <source media="(min-width: 768px)" srcset="1x, 2x" width="" />
            <source media="(max-width: 767px)" srcset="1x, 2x" width="" />
            <img src="" width="96" height="100" alt="sale-desk-01" />
          </picture>
        </div>
        <div class="small-photos__bg">
          <picture>
            <source media="(min-width: 1280px)" srcset="1x, 2x" width="" />
            <source media="(min-width: 768px)" srcset="1x, 2x" width="" />
            <source media="(max-width: 767px)" srcset="1x, 2x" width="" />
            <img class="" src="" width="" height="" alt="" />
          </picture>
        </div>
        <div class="small-photos__bg">
          <picture>
            <source media="(min-width: 1280px)" srcset="1x, 2x" width="" />
            <source media="(min-width: 768px)" srcset="1x, 2x" width="" />
            <source media="(max-width: 767px)" srcset="1x, 2x" width="" />
            <img class="" src="" width="" height="" alt="" />
          </picture>
        </div>
        <div class="small-photos__bg">
          <picture>
            <source media="(min-width: 1280px)" srcset="1x, 2x" width="" />
            <source media="(min-width: 768px)" srcset="1x, 2x" width="" />
            <source media="(max-width: 767px)" srcset="1x, 2x" width="" />
            <img class="" src="" width="" height="" alt="" />
          </picture>
        </div>
      </div>
      <div class="watch-card__big-bg">
        <picture>
          <source media="(min-width: 1280px)" srcset="1x, 2x" width="" />
          <source media="(min-width: 768px)" srcset="1x, 2x" width="" />
          <source media="(max-width: 767px)" srcset="1x, 2x" width="" />
          <img class="" src="" width="" height="" alt="" />
        </picture>
      </div>
    </div>
    <div class="sale-section__watch-description">
      <h2 class="watch-description__watch-name">
        MARQ<span class="trademark">&reg;</span> Commander (Gen 2) - Carbon
        Edition
      </h2>
      <p class="watch-description__product-tag">Product tag: 706587</p>
      <span class="watch-description__price">
        <span class="price_left">€1500</span>
        <span class="price_right">€3000</span>
      </span>
      <p class="watch-description__info-about-watch">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <div class="watch-description__material">
        <span class="material__text">Fused carbon fiber</span>
        <span class="material__text">Grade-5 Titanuim</span>
        <span class="material__text">Athlete</span>
        <span class="material__text">Golfer</span>
        <span class="material__text">Commander</span>
        <span class="material__text">Adventurer</span>
      </div>
    </div>
  </div>
</section>
