<section class="sale-section section" id="sale-section">
  <div class="container">
    <h2 class="section-title">Sale</h2>
    <div class="sale-section__wrapper">
      <div class="sale-section__watch-card">
        <div class="watch-card__small">
          <div class="small-photos__bg">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/sale/desk/sale-desk-01-@1x.png 1x,
                  /img/sale/desk/sale-desk-01-@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/tab/sale-tab-01-@1x.png 1x,
                  /img/sale/tab/sale-tab-01-@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/mob/sale-mob-01-@1x.png 1x,
                  /img/sale/mob/sale-mob-01-@2x.png 2x
                "
              />
              <img
                src="/img/sale/desk/sale-desk-01-@1x.png"
                width="96"
                height="100"
                alt="sale-desk-01"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="small-photos__bg">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/sale/desk/sale-desk-02-@1x.png 1x,
                  /img/sale/desk/sale-desk-02-@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/tab/sale-tab-02-@1x.png 1x,
                  /img/sale/tab/sale-tab-02-@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/mob/sale-mob-02-@1x.png 1x,
                  /img/sale/mob/sale-mob-02-@2x.png 2x
                "
              />
              <img
                src="/img/sale/desk/sale-desk-02-@1x.png"
                width="96"
                height="100"
                alt="sale-desk-02"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="small-photos__bg">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/sale/desk/sale-desk-03-@1x.png 1x,
                  /img/sale/desk/sale-desk-03-@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/tab/sale-tab-03-@1x.png 1x,
                  /img/sale/tab/sale-tab-03-@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/mob/sale-mob-03-@1x.png 1x,
                  /img/sale/mob/sale-mob-03-@2x.png 2x
                "
              />
              <img
                src="/img/sale/desk/sale-desk-03-@1x.png"
                width="96"
                height="100"
                alt="sale-desk-03"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="small-photos__bg">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/sale/desk/sale-desk-04-@1x.png 1x,
                  /img/sale/desk/sale-desk-04-@2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/tab/sale-tab-04-@1x.png 1x,
                  /img/sale/tab/sale-tab-04-@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/mob/sale-mob-04-@1x.png 1x,
                  /img/sale/mob/sale-mob-04-@2x.png 2x
                "
              />
              <img
                src="/img/sale/desk/sale-desk-04-@1x.png"
                width="96"
                height="100"
                alt="sale-desk-04"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
        <div class="watch-card__big-bg">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/sale/desk/sale-desk-05-@1x.png 1x,
                /img/sale/desk/sale-desk-05-@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/sale/tab/sale-tab-05-@1x.png 1x,
                /img/sale/tab/sale-tab-05-@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/sale/mob/sale-mob-05-@1x.png 1x,
                /img/sale/mob/sale-mob-05-@2x.png 2x
              "
            />
            <img
              src="/img/sale/desk/sale-desk-05-@1x.png"
              width="328"
              height="398"
              alt="sale-desk-05"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="sale-section__watch-description">
        <h3 class="watch-description__watch-name">
          MARQ<span class="trademark">&reg;</span> Commander (Gen 2) - Carbon
          Edition
        </h3>
        <p class="watch-description__product-tag">Product tag: 706587</p>
        <span class="watch-description__price">
          <span class="price_left">€1500</span>
          <span class="price_right">€3000</span>
        </span>
        <p class="watch-description__info-about-watch">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <div class="watch-description__material">
          <span class="material__text">Fused carbon fiber</span>
          <span class="material__text">Grade-5 Titanuim</span>
          <span class="material__text">Athlete</span>
          <span class="material__text">Golfer</span>
          <span class="material__text">Commander</span>
          <span class="material__text">Adventurer</span>
        </div>
      </div>
    </div>
  </div>
</section>
