body {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  background-color: #fbfbfb;
}

main,
header {
  max-width: 1280px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accent-color {
  color: #3350e9;
}

/* Styles for mobile devices */
.section {
  padding: 30px 0;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .section {
    padding: 40px 0;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .section {
    padding: 50px 0;
  }
}

/* Styles for mobile devices */
.section-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
}
