
.container {

}

.catalog-title {
    
    font-weight: 600;
        font-size: 32px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #0c0c0c;
}

.catalog-item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

/* .none-mb { 
    display: none;
} */

.catalog-item-list {

}

.catalog-border {
display: flex;
    width: 335px;
    height: 364px;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
background-color: #f3f3f3;
align-items: center;
justify-content: center;
}

.catalog-list-container {
width: 279px;
    height: 316px;

padding: 24px 28px;
}

.catalog-img {

}

.catalog-item-list-title {
    font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        margin-top: 10px;
     align-self: flex-start;
}

.catalog-price {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.5);
        margin-top: 8px;
       align-self: flex-start;
}

.catalog-button {
    border-radius: 16px;
        width: 160px;
        height: 48px;
        background: #3350e9;
        font-weight: 500;
            font-size: 14px;
            line-height: 1.2;
            text-align: center;
            color: #fbfbfb;
            margin-top: 40px;
            margin-left: 88px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-button:hover,
.catalog-button:focus {
    background-color: #1f3cd4;
}


@media screen and (min-width:768px) {
   
.catalog-item {
gap: 32px 16px;
}

 /* .catalog-item-list {
     width: calc((100% - 32px)/2);
 } */

   .catalog-button {
    display: none;
   } 

}

@media screen and (min-width:1280px) {
    
    .catalog-item{
        gap: 24px 23px;
    }
    
    /* .catalog-item-list {
        width: calc((100% - 24px)/3);
    } */

    .catalog-button {
            display: none;
        }
}
