.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.catalog-item {
    width: 100%;
    padding: 24px 28px;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background-color: #F3F3F3;
}

.catalog-img {
    margin: 0 auto;
    margin-bottom: 28px;
}

.catalog-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #0C0C0C;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 8px;
}

.catalog-price {
    font-size: 14px;
    line-height: 1.29;
    color: rgba(12, 12, 12, 0.5);
}

.catalog-button {
    display: none;
}

.none-mb {
    display: none;
}

.catalog-button {
    display: block;
    margin: 0 auto;
    border-radius: 16px;
    min-width: 160px;
    height: 48px;
    background-color: #3350E9;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: #FBFBFB;
    padding: 15px 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-button:hover,
.catalog-button:focus {
    background-color: #1F3CD4;
}

@media screen and (min-width: 768px) {
    .catalog-list {
        gap: 32px 16px;
        margin-bottom: 0;
    }

    .catalog-item {
        width: calc((100% - 16px) / 2);
        padding: 24px 32px;
    }

    .catalog-img {
        margin-bottom: 20px;
    }

    .catalog-subtitle {
        font-size: 20px;
        line-height: 1;
    }

    .none-mb {
        display: block;
    }

    .catalog-button {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .catalog-list {
        gap: 32px 23px;
    }

    .catalog-item {
        width: calc((100% - 46px) / 3);
    }
}