/* #region Header  */
/* Styles for Mobile devices */
.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  /* box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08); */
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav,
.social-header-list {
  display: none;
}

.logo-header {
  font-weight: 500;
  color: #0c0c0c;
  display: block;
  padding: 28px 0;
  font-size: 16px;
}
.icon-burger-btn {
  stroke: #0c0c0c;
}
.burger-btn {
  padding: 0;
  background-color: transparent;
  max-height: 34px;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .logo-header {
    padding: 34px 0;
    font-size: 20px;
  }

  .burger-btn {
    max-height: 40px;
  }
  .icon-burger-btn {
    width: 40px;
    height: 40px;
  }
}
/* Styles for Desktop devices */
@media screen and (min-width: 1280px) {
  .burger-btn {
    display: none;
  }
  .header-nav,
  .social-header {
    display: flex;
  }

  .nav-list {
    display: flex;
    gap: 40px;
    height: 28px;
  }
  .logo-header {
    padding: 32px 0;
    line-height: 1.2;
  }
  .nav-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;
    /* padding: 30px 0; */
    display: block;
  }
  .nav-item-link {
    position: relative;
  }
  .nav-item-link:hover::after,
  .nav-item-link.current::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 40%;
    width: 8px;
    height: 8px;
    background-color: #3350e9;
    border-radius: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-header-list {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .social-header-link {
    display: block;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-social-icon {
    fill: #0c0c0c;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-header-item:hover,
  .social-header-item:focus {
    border-color: rgba(51, 80, 233, 0.1);
  }
  .header-social-icon:hover,
  .social-header-item:focus {
    fill: #3350e9;
  }
}
/* #endregion Header */
/* #region Mobile Menu */
/* ----------  Menu for Mobile devices ------- */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  background-color: rgba(12, 12, 12, 0.92);
  background-image: url('../img/menu/mob/menu-mob-image-@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .mobile-menu-container {
    background-color: rgba(12, 12, 12, 0.92);
    background-image: url('../img/menu/mob/menu-mob-image-@2x.jpg');
  }
}
.menu-close-btn {
  position: relative;
  width: 34px;
  height: 34px;
  top: 20px;
  left: 133px;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-icon {
  stroke: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: auto;
}
.nav-menu-list .nav-item-link {
  position: relative;
}
.nav-menu-list .nav-item-link:hover::after,
.nav-menu-list .nav-item-link.current::after {
  bottom: -10px;
  left: 48%;
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #3350e9;
  border-radius: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-link {
  position: relative;
}

.nav-menu-list .nav-item-link {
  font-size: 14px;
  text-align: center;
  color: #fbfbfb;
  display: block;
}

.menu-social-list.social-header-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.menu-social-list .social-header-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-social-list .header-social-icon {
  fill: #fbfbfb;
  opacity: 0.8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-social-list .header-social-icon:hover,
.menu-social-list .header-social-icon:focus {
  opacity: 1;
}
/* ----------  Menu for Tablet devices ------- */
@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 330px;
  }

  .menu-close-btn {
    width: 40px;
    height: 40px;
    top: 26px;
    left: 227px;
  }
  .mobile-menu-container {
    padding-bottom: 50px;
  }
  .nav-menu-list {
    gap: 32px;
  }
}
/* #endregion Mobile Menu*/
