.hero-container {
  padding: 60px 20px 0;
}
.hero-content {
  margin-bottom: 28px;
}
.hero-description {
  margin-bottom: 28px;
}
.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}
.title-part {
  color: #3350e9;
}
.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.hero-block {
  display: flex;
}

.down-link {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding-top: 26px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  color: #0c0c0c;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-image {
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .hero-container {
    padding: 80px 32px 0;
  }
  .hero-content {
    display: flex;
    margin-bottom: 40px;
  }
  .hero-description {
    margin: 0 auto 0 0;
  }
  .hero-title {
    font-size: 70px;
    line-height: 0.86;
    letter-spacing: -0.02em;
    width: 557px;
  }
  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    width: 480px;
  }
  .hero-block {
    display: block;
  }

  .hero-photo {
    margin-bottom: 180px;
  }
  .down-link {
    font-size: 20px;
    line-height: 1;
    padding: 0 0 0 34px;
  }
  .hero-image {
    border-radius: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding: 80px 65px 0;
  }
  .hero-title {
    font-size: 72px;
    line-height: 0.88;
    width: 597px;
  }
  .hero-photo {
    margin-bottom: 189px;
  }
  .down-link {
    padding: 0 0 0 44px;
  }
  .down-link:hover,
  .down-link:focus {
    color: #3350e9;
  }
}
