h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}